@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Lot";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

    <section class="auction__room">
        <div class="wrapper">
            <div class="width">
                <div class="line__timer">
                    <div class="choose">
                        <a href="#" class="auction">AUCTION</a>
                        <a href="#" class="myRate">MY RATES</a>
                    </div>
                    <div class="timer">
                        <span class="text">Auction ends in</span>
                        <div id="countdown" class="countdown">
                            <div class="countdown-number">
                                <span class="hours countdown-time"></span>
                            </div>
                            <span>:</span>
                            <div class="countdown-number">
                                <span class="minutes countdown-time"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border">
                    <div class="slider__title">
                        <span class="name">Item Name</span>
                        <span class="type">Type</span>
                        <span class="max">MAX rate</span>
                        <span class="price">Rate</span>
                        <span class="your__price">Your bet</span>
                        <span class="buy">Buy</span>
                    </div>

                    <div id="container">
                        <div id="scrollbox">
                            <div id="content">
                                @foreach (var lot in CourseWorkV1_2.Controllers.HomeController.GetAllLots())
                                {
                                <div class="box">
                                    <img src="img/prize.png" class="box__img">
                                    <span class="box__name">@lot.Name</span>
                                    <span class="box__dop">@lot.Type</span>
                                    <span class="box__max">@Math.Round(lot.MinPrice,0) </span>
                                    <span class="box__price">@lot.RealPrice</span>
                                    <span class="box__your">@lot.TimeEnd</span>
                                    <div class="timer__rate">
                                        <div id="countdown1" class="countdown">
                                            <div class="countdown-number">
                                                <span class="hours countdown-time"></span>
                                            </div>
                                            <span>:</span>
                                            <div class="countdown-number">
                                                <span class="minutes countdown-time"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#"><img src="img/menu.png" alt=""></a>
                                </div>
                                }
                                
                            </div>
                        </div>
                    </div>

                    <div id="container1">
                        <div class="empty">
                            @if (User.Identity.IsAuthenticated)
                                            {
                                                foreach (var lot in CourseWorkV1_2.Controllers.HomeController.GetAllMyLots(User.Identity.GetUserId()))
                                                {
                                    <div class="box">
                                        <img src = "img/prize.png" class="box__img">
                                        <span class="box__name">@lot.Name</span>
                                        <span class="box__dop">@lot.Type</span>
                                        <span class="box__max">@Math.Round(lot.MinPrice, 0) </span>
                                        <span class="box__price">@lot.RealPrice</span>
                                        <span class="box__your">@lot.TimeEnd</span>
                                        <div class="timer__rate">
                                            <div id = "countdown1" class="countdown">
                                                <div class="countdown-number">
                                                    <span class="hours countdown-time"></span>
                                                </div>
                                                <span>:</span>
                                                <div class="countdown-number">
                                                    <span class="minutes countdown-time"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href = "#" >< img src="img/menu.png" alt=""></a>
                                    </div>
                                        }
                                }
                                else
                                {
                                    <div stule ="text-aling: center;color:white;">User is not authenticated</div>
                                }
                        </div>
                    </div>

                </div>

            </div>
            <div class="vert">
                <div class="top_users-select-box">
                    <div class="top_users-select">Filter</div>
                    <div class="top_users-select_dropdown">
                        <div class="top_users-select_dropdown-item">
                            <form method="post">
                                <p>Title</p>
                                <input name="name" type="text">
                                <p>Group</p>
                                <input name="group" type="text">
                                <p>MIN bid</p>
                                <input name="rate" type="text">
                                <input type="submit">
                            </form>
                        </div>
                    </div>
                </div>

                <div class="staff">
                    <span></span>
                    <div class="desc">
                        значения
                    </div>
                    <form method="post">
                        <input type="number">
                        <button name="RealPrice">Place a bet</button>
                    </form>
                    <form>
                        <input type="number">
                        <button>Urgent purchase</button>
                    </form>
                </div>

            </div>
        </div>

    </section>



    <script src="~/Scripts/script.js"></script>
</body>
</html>
